.fss,.fss-solid,.particles {
	position:absolute;top:0;
	left:0;
	width:100vw !important;
	height:100%;
	overflow:hidden
}
.particles {
	opacity:.5
}
.university .hm-gradient .full-bg-img {
	background: -webkit-linear-gradient(45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%);
	background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.7)), to(rgba(91, 14, 214, 0.7)));
	background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%); 
}
.university .hm-gradient .mask {
	background: -webkit-linear-gradient(45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%);
	background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.7)), to(rgba(91, 14, 214, 0.7)));
	background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.7), rgba(91, 14, 214, 0.7) 100%); 
}
.university .full-bg-img h2 {
	font-size: 4.5rem;
}
.university .full-bg-img h3 {
	font-size: 1.75rem;	
}
@media (min-width: 576px) {
	.university .full-bg-img h2 {
		font-size: 3.5rem;
	}	
	.university .full-bg-img h3 {
		font-size: 1.5rem;	
	}
}
@media (max-width: 575px) {
	.university .full-bg-img h2 {
		font-size: 2.5rem;
	}	
	.university .full-bg-img h3 {
		font-size: 1.25rem;	
	}
}
.university .navbar {
	background-color: #1d4870; 
}
.navbar {
	padding: .7rem 1rem !important;
	font-size: 1.05rem;
}
.university .navbar:not(.top-nav-collapse) {
	background-color: transparent; 
}
.navbar li.dropdown:hover > .dropdown-menu {
	display: block;
}
.navbar .dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover {
	background-color: #1d4870 !important;
}
.navbar .dropdown-toggle::after {
	content: initial;
}
.navbar .dropdown .dropdown-menu .dropdown-item {
	padding-right: 1.5rem;
}
@media (max-width: 768px) {
	.university .navbar:not(.top-nav-collapse) {
		background: #243a51; 
	} 
}
@media (min-width: 769px) {
	.university .navbar:not(.top-nav-collapse) {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
@media (min-width: 600px) {
	.navbar.scrolling-navbar.top-nav-collapse {
		padding: .7rem 1rem !important;
	}
	.navbar.scrolling-navbar {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
}
.university .page-footer {
	background-color: #243a51; 
}
.card-grey-nav {
	color: #3f697d;
	border-bottom: 1px solid #ccc;
	min-height: 130px;
}
.sidebar-links {
	border: 1px solid rgba(0,0,0,.125);
}
.sidebar-links.sticky {
	width: initial !important;
}
@media only screen and (max-width: 991px) {
	.sidebar-links.sticky, .sidebar-links.sticky-placeholder {
		display: block;
	}
	.navbar .nav-flex-icons, .navbar.double-nav {
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
.sidebar-links .list-group-item {
	padding-top: 0.5rem;
	padding-top: 0.5rem;
}
.sidebar-links .nav {
	padding: 0.5rem 0rem;
}
.sidebar-links .nav .nav-item {
	padding: .25rem 1rem;
}
.sidebar-links .nav .nav-item .nav-link {
	color: #999;
	padding: 0.25rem 1rem;
}
.sidebar-links .nav .nav-item .nav-link.active {
	color: #45526E;
	font-weight: bold;
	border-left: 3px solid #45526E;
}
@media (min-width:576px) {
	.pull-right-sm-up {
		float: right;
	}
	.d-inline-sm-up {
		display: inline;
	}
}
.subtitle{
	font-size: 14px; 
	color: #555555;
}
.grey-text-555{
	color: #555555;
}
.green-color{
	color: #447e36;
}
.course-table.table td, .course-table.table th {
	padding-top: .4rem;
	padding-bottom: .4rem;
}
.page-footer ul li {
	padding-top: .3rem;
	padding-bottom: .3rem; 
	line-height: 1.3rem;
}
.page-footer ul li a {
	color: #ccc;
}
.page-footer ul li a:hover {
	color: #fff;
}
@media (min-width: 769px) and (max-width: 991px) {
	.page-footer .container {
		max-width: initial;
		width: auto !important;
	}
}
